.mail {
  flex:1;
}

.mail_tools {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0;
}

.mail_toolsLeft {
  display: flex;
}

.mail_body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.mail_bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px 0 8px 20px;
  position: relative;
}

.mail_bodyHeader > h2 {
  font-weight: 400;
  margin: 0 20px 0 0;
}

.mail_bodyHeader > p {
  margin-left: 10px;
}

.mail_message {
  margin-top: 30px;
}

.mail_message > p {
  padding: 20px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.mail_time {
  position: absolute;
  top:24px;
  right:0;
  font-size: 12px;
  color: gray;
}
