.sidebar {
    padding-right: 20px;
    flex: 0.3;
    max-width: 300px;
}

.sidebar_compose {
    color: #d93025 !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    padding: 15px !important;
    text-transform: none !important;
    margin: 10px !important;
}

.sidebar_footer {
    display: flex;
    justify-content: center;
}